.hover-login:hover{color: slategray;}
    .hover-login:hover, .hover-login:active {font-size: 110%;}

    .icon-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        color: #333333;
        background: #ddd;
        border: none;
        outline: none;
        border-radius: 50%;
    }

    .icon-button:hover {
        cursor: pointer;
        background: #cccccc;
    }

    .icon-button__badge {
            position: absolute;
            top: -8px;
            right: -8px;
            width: 20px;
            height: 20px;
            background: red;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center; 
            border-radius: 50%;
    }


      


.form-signin .form-floating:focus-within {
z-index: 2;
}

.form-signin input[type="email"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.form-registration input{
    border-radius: 0;
    margin-bottom: -1px;
}

body > .container  p {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

body > .container  p a {
    text-decoration: none;
    font-weight: 700;
    color: green;
}

body > .container  p a:hover {
    background-color: green;
    color: white;
    border-radius: 30px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.header {
    display: flex;
}

.selamat-datang {
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}